.content {
  width: 100%;
}

.content label {
  font-weight: bold;
}

.content .none {
  display: none;
}

.content .language-box {
  position: relative;
}

.content .language-selected {
  min-height: 38px;
  cursor: pointer;
  user-select: none;
}

.content .language-selected-item {
  width: fit-content;
  height: 24px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  padding: 0 0 0 0.75rem;
}

.content .language-selected .icon-remove {
  cursor: pointer;
  padding: 5px 0.5rem;
  height: fit-content;
}

.content .language-selected .icon-remove:hover {
  color: var(--bs-red);
}

.content .language-choose {
  position: absolute;
  top: calc(100% + 0.25rem);
  padding-left: 0;
  padding-right: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.content .language-choose ul {
  padding: 0;
}

.content .language-choose ul li {
  margin: 0;
  cursor: pointer;
  padding: 6px 12px;
  font-size: 14px;
}

.content .language-choose ul li.disabled {
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.1);
}

.content .language-choose ul li:hover {
  background-color: #0074f0;
  color: #fff;
}

.content .was-validated #language-select:valid ~ #language-selected.form-control,
.content .was-validated #desc-textarea:valid ~ .tox.tox-tinymce {
  border-color: var(--bs-green);
}

.content .was-validated #language-select:invalid ~ #language-selected.form-control,
.content #language-select.is-invalid ~ #language-selected.form-control,
.content .was-validated #desc-textarea:invalid ~ .tox.tox-tinymce,
.content #desc-textarea.is-invalid ~ .tox.tox-tinymce {
  border-color: var(--bs-red);
}
