.content-wrapper table th,
.content-wrapper table td {
  text-align: center;
}

.content-wrapper table .post-title {
  text-align: start;
  min-width: 200px;
}

.content-wrapper .pagination li.page-item:not(.disabled):not(.active) a {
  cursor: pointer;
}
