:root {
  --header-height: 60px;
  --sidebar-width: 250px;
}

.btn {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Overlay */
.overlay,
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.overlay {
  display: none;
  z-index: 20;
}

.loading-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

.loading-overlay.none {
  display: none;
}

.loading-overlay .loading-icon {
  color: rgba(255, 255, 255, 0.8);
  font-size: 4.5rem;
}

.loading-overlay .loading-icon i {
  animation: spinner 0.7s linear infinite;
}

/* Pagination */
.pagination li.page-item:not(.disabled):not(.active) a {
  cursor: pointer;
}

@keyframes spinner {
  0% {
    transform: rotate(0);
  }
  20% {
    transform: rotate(150deg);
  }
  80% {
    transform: rotate(210deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Sidebar mobile */
@media (max-width: 991px) {
  .wrapper.sidebar-open aside {
    margin-left: 0;
  }

  .wrapper.sidebar-open .overlay {
    display: block;
  }
}
