.content {
  min-height: 100vh;
  margin-left: var(--sidebar-width);
  padding: 1rem;
  padding-top: calc(var(--header-height));
  background-color: #f4f6f9;
}

.content .title {
  font-size: 1.8rem;
  margin: 0;
  margin: 2rem 0;
}

/* Tablet */
@media (max-width: 991px) {
  .content {
    margin-left: calc(0px);
  }
}
