:root {
    --width-sidebar: 250px;
    --border-bottom: #4f5962;
}

.warpper {
    position: relative;
}

nav {
    margin-left: var(--width-sidebar);
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
}

nav a {
    color: #000;
    text-decoration: none;
}

nav ul {
    margin: 0;
    color: rgba(0, 0, 0, 0.7);
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: block;
    padding: 1rem 0;
    color: rgba(0, 0, 0, 0.7);
}

nav svg path {
    fill: rgba(0, 0, 0, 0.7);
}
