.nav-header {
  position: fixed;
  width: 100%;
  height: var(--header-height);
  margin-left: var(--sidebar-width);
  background-color: #fff;
  border-bottom: 1px solid #dee2e6;
  z-index: 20;
  padding: 0 8px;
}

.nav-header ul,
.nav-header ul li,
.nav-header ul li > * {
  height: 100%;
}

.nav-header ul li > * {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
  padding: 0 1rem;
}

.nav-header ul li > *:hover {
  color: rgba(0, 0, 0, 0.7);
}

.nav-header ul li button.sidebar-menu {
  font-size: 1.2rem;
  display: none;
}

/* Tablet */
@media (max-width: 991px) {
  .nav-header {
    margin-left: calc(0px);
  }

  .nav-header ul li button.sidebar-menu {
    display: block;
  }
}
