aside {
  position: fixed;
  top: 0;
  bottom: 0;
  width: var(--sidebar-width);
  background-color: #343a40;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22) !important;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 0;
  transition: margin-left 0.5s ease;
  z-index: 40;
}

aside .logo-header {
  width: 100%;
  height: var(--header-height);
  padding: 0 0.5rem;
  border-bottom: 1px solid #4f5962;
  display: flex;
  align-items: center;
}

aside .logo-header > h2 {
  color: rgba(255, 255, 255, 0.8);
  font-weight: bold;
  margin: 0;
}

aside .user-panel {
  border-bottom: 1px solid #4f5962;
}

aside .user-panel a {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

aside .user-panel img {
  border-radius: 50%;
  width: 2.1rem;
  height: 2.1rem;
}

aside ul {
  height: calc(100vh - var(--header-height));
  padding: 0.5rem;
  padding-right: 0;
  overflow-y: scroll;
}

aside ul,
aside ul li,
aside ul li a {
  width: 100%;
}

aside ul li a {
  display: block;
  padding: 0.675rem 1rem;
  border-radius: 5px;
  color: #dee2e6;
  font-size: 1rem;
}

aside ul li a.active {
  color: #fff;
  background-color: #007bff;
}

aside ul li a:not(.active):hover {
  background-color: #ffffff1a;
  color: #fff;
}

aside ul li a .nav-icon {
  font-size: 1.25rem;
  text-align: center;
  width: 1.75rem;
}

/* Scroll */
aside ul::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

aside ul::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.4);
}

aside ul::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

aside ul::-webkit-scrollbar-thumb:active {
  background-color: rgba(255, 255, 255, 0.6);
}

/* Tablet */
@media (max-width: 991px) {
  aside {
    margin-left: calc(0px - var(--sidebar-width));
  }
}
