@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
  --color-text: #292929;
}

/* Reset CSS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-size: 1rem;
  text-rendering: optimizeSpeed;
  color: var(--color-text);
  overflow-y: scroll;
}

/* Default element css */
body.no-scroll {
  overflow-y: hidden;
  padding-right: 13px;
}

@media (max-width: 991px) {
  body.no-scroll {
    padding-right: 0;
  }
}

button,
input {
  outline: none;
  border: none;
  background: transparent;
}

a {
  text-decoration: none;
  color: currentColor;
}

a:hover {
  color: currentColor;
}

ul,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.btn,
a,
input[type='submit'],
button {
  transition: all 0.2s ease;
}

.btn:hover,
a:hover,
input[type='submit']:hover,
button:hover {
  transition-duration: 0.1s;
}

.btn {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-box {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Dropdown menu */
.dropdown-toggle::after {
  display: none;
}

ul.dropdown-menu {
  border: none;
  box-shadow: 0 -4px 32px rgba(0, 0, 0, 0.2);
}

ul .dropdown-item {
  color: #444444;
  padding: 12px 20px;
}

ul .dropdown-item:hover,
ul .dropdown-item:focus {
  background-color: #f0f0f0;
  color: #292929;
}

ul .dropdown-item .icon-box {
  width: 30px;
  height: auto;
}

/* Toast */
.toast-container img {
  width: 30px;
}

.toast-container .toast-body {
  background-color: var(--bs-toast-header-bg);
}

/* Overlay */
.overlay,
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.overlay {
  display: none;
  z-index: 20;
}

.loading-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1150;
}

.loading-overlay .loading-icon {
  color: rgba(255, 255, 255, 0.8);
  font-size: 4.5rem;
}

.loading-overlay .loading-icon i {
  animation: spinner 0.7s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0);
  }
  20% {
    transform: rotate(150deg);
  }
  80% {
    transform: rotate(210deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Pagination */
.pagination .page-item .page-link {
  width: 40px;
  height: 40px;
  padding: unset;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.1);
  color: #000;
  border: none;
}

.pagination .page-item.active .page-link,
.pagination .page-item:hover .page-link,
.pagination .page-item:not(.active) .page-link:focus {
  color: #fff;
  box-shadow: none;
}

/* Scrollbar css */
::-webkit-scrollbar {
  width: 13px;
  height: 13px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  border-radius: 999px;
  background-color: rgba(0, 0, 0, 0.2);
  border: 3px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb:active {
  background-color: rgba(0, 0, 0, 0.4);
}

/* Scrollbar css mobile */
@media (max-width: 575px) {
  ::-webkit-scrollbar {
    width: 9px;
    height: 9px;
  }
}
