.content table .comment-post {
  min-width: 250px;
}

.content table .comment-user {
  min-width: 200px;
}

.content table .comment-content {
  min-width: 300px;
}

.content table .comment-post button,
.content table .comment-user button {
  flex: 1;
}

.content table .comment-post span,
.content table .comment-user span {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.content table .thumbnail {
  width: 120px;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.content table .avatar {
  width: 40px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.content table button.a {
  text-decoration: underline;
}

.content table button.a.comment-link {
  color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
}

.content table button.a.comment-link:hover {
  --bs-link-color-rgb: var(--bs-link-hover-color-rgb);
}
