body {
  background-color: #f4f6f9;
}

.main {
  min-height: 100vh;
  margin-left: var(--sidebar-width);
  padding: 5rem 0;
  padding-top: calc(var(--header-height) + 4rem);
}

.main .main-header {
  padding: 2rem 1rem;
}

.main .main-header-title {
  font-size: 1.8rem;
  margin: 0;
}

.main .content {
  padding: 0 1rem;
}

/* Tablet */
@media (max-width: 991px) {
  .main {
    margin-left: calc(0px);
  }
}
