.content table th,
.content table td {
  text-align: center;
  vertical-align: middle;
}

.content table .user {
  text-align: start;
  min-width: 200px;
}

.content table .avatar-container {
  width: 40px;
}

.content table .avatar-box {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 100%;
}

.content table .avatar-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.content table .user span {
  text-align: start;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
