#auth-overlay .modal-header {
  border: none;
}

#auth-overlay h1,
#auth-overlay p {
  margin: 0;
}

#auth-overlay .form-container {
  width: 100%;
  border-radius: 0.75rem;
  padding: 2rem;
  padding-top: 0;
}

#auth-overlay .title {
  text-align: center;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
  color: var(--color-primary);
}

#auth-overlay .form {
  margin-top: 1.5rem;
}

#auth-overlay .form-group {
  font-size: 1rem;
  line-height: 1.25rem;
}

#auth-overlay .form-group label {
  display: block;
  margin-bottom: 4px;
  font-weight: bold;
}

#auth-overlay .form-group input {
  width: 100%;
  border-radius: 10px;
  border: 1px solid rgba(105, 105, 105, 0.397);
  outline: 0;
  padding: 0.75rem 1rem;
}

#auth-overlay .form-group input.is-invalid {
  border-color: var(--bs-red);
}

#auth-overlay .form-group input:focus {
  border-color: var(--color-primary);
}

#auth-overlay .forgot {
  display: flex;
  justify-content: flex-end;
  font-size: 0.75rem;
  line-height: 1rem;
  margin: 8px 0 14px 0;
}

#auth-overlay .forgot button {
  color: rgba(88, 87, 87, 0.822);
}

#auth-overlay .forgot button,
#auth-overlay .signup button {
  text-decoration: none;
  font-size: 14px;
}

#auth-overlay .forgot button:hover,
#auth-overlay .signup button:hover {
  text-decoration: underline var(--color-primary);
}

#auth-overlay .submit {
  display: block;
  width: 100%;
  background-color: var(--color-primary);
  padding: 0.75rem;
  text-align: center;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-weight: 600;
}

#auth-overlay .submit:hover {
  background-color: var(--color-primary-600);
}

#auth-overlay .social-message {
  display: flex;
  align-items: center;
}

#auth-overlay .line {
  height: 1px;
  flex: 1 1 0%;
  background-color: var(--color-text);
}

#auth-overlay .social-message .message {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgba(88, 87, 87, 0.822);
}

#auth-overlay .social-icons {
  display: flex;
  justify-content: center;
}

#auth-overlay .social-icons .icon {
  padding: 1rem;
  border-radius: 50%;
}

#auth-overlay .social-icons .icon svg {
  width: 2.3rem;
  height: 2.3rem;
}

#auth-overlay .social-icons .icon:hover {
  background-color: rgba(0, 0, 0, 0.12);
}

#auth-overlay .signup {
  text-align: center;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(88, 87, 87, 0.822);
}

#auth-overlay .signup button {
  color: var(--color-text);
}

@media (max-width: 575px) {
  #auth-overlay .form-container {
    padding: 0.5rem;
    padding-top: 0;
    padding-bottom: 2rem;
  }
}
