.content {
  flex: 1;
  min-height: calc(100vh - var(--header-height) - 50px - 3rem);
  margin-top: 50px;
  margin-left: var(--content-padding-left);
  margin-bottom: 50px;

  @media (max-width: 991px) {
    margin-left: 0;
  }
}

.content .content-header {
  margin-top: 10px;
  padding-bottom: 8px;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.content .content-header .icon-wrapper {
  width: 70px;
  height: 70px;
  background-image: linear-gradient(var(--color-primary-400), var(--color-primary));
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content .content-header .icon-box {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  font-size: 2rem;
  color: #fff;
}

.content .tabs-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  height: 48px;
  margin-bottom: 8px;

  @media (max-width: 575px) {
    justify-content: space-between;
    gap: 0;
  }
}

.content .tabs-title .tab-title-item {
  height: 100%;
  border: none;
  color: #606060;
  border-bottom: 2px solid transparent;
  border-radius: 0;
  line-height: 2.2;
  font-weight: 500;
}

.content .tabs-title .tab-title-item.active {
  color: #0f0f0f;
  border-color: #0f0f0f;
}

.content .tabs-title .tab-title-item:not(.active):hover {
  border-color: #909090;
}

.content .border-bottom {
  margin-bottom: 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
