header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: var(--header-height);
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);
  z-index: 10;
}

header .header-icon-btn {
  height: 100%;
  display: none;
  align-items: center;
  font-size: 1.3rem;
  cursor: pointer;
}

header .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

header .logo,
header .more {
  width: fit-content;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .logo > * {
  height: 100%;
}

header .logo .sidebar-menu {
  padding-right: 16px;
  justify-content: center;
  align-items: center;
}

header .logo a {
  display: flex;
  align-items: center;
}

header .logo img {
  height: 30px;
}

header .search-wrapper {
  width: 500px;
  background-color: #fff;
}

header .search-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .search {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  background: rgba(22, 24, 35, 0.06);
  border-radius: 92px;
  border: 1px solid transparent;
}

header .search:has(input:hover),
header .search:has(input:focus) {
  border-color: rgba(22, 24, 35, 0.2);
}

header .search input {
  width: 100%;
  padding: 12px 0 12px 16px;
  caret-color: var(--color-primary);
}

header .search .search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 12px;
  color: rgba(22, 24, 35, 0.34);
}

header .search .search-icon.loading .clear-search {
  display: none;
}

header .search .search-icon.loading .search-loading {
  display: block;
}

header .search .search-icon .clear-search {
  cursor: pointer;
}

header .search .search-icon .search-loading {
  animation: spinner 0.7s linear infinite;
  display: none;
}

header .search .span-split {
  width: 1px;
  height: 28px;
  margin: -3px 0;
  background: rgba(22, 24, 35, 0.12);
}

header .search .submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 92px 92px 0;
  color: rgba(22, 24, 35, 0.34);
  font-size: 1.25rem;
  padding: 14px 16px 14px 12px;
}

header .search input:focus ~ .submit-btn,
header .search .submit-btn:hover {
  background: rgba(22, 24, 35, 0.06);
  color: rgba(22, 24, 35, 1);
}

header .search .search-result {
  display: block;
  position: absolute;
  top: calc(100% + 8px);
  width: 100%;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.12);
}

header .search-result img {
  width: 30%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}

header .search-result .title {
  font-size: 0.95rem;
  white-space: wrap;
  color: #292929;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

header .search-result .icon-box {
  width: 28px;
  height: 28px;
}

header .more .open-search-btn {
  height: 100%;
  padding: 0 16px;
  justify-content: center;
  align-items: center;
}

header .more .login-btn {
  background-color: var(--color-primary);
  color: #fff;
}

header .more .login-btn:hover {
  background-color: var(--color-primary-600);
  color: #fff;
}

header .more .user-avatar {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  border-radius: 50%;
}

header .more .user-avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

/* Tablet */
@media (max-width: 991px) {
  header .logo .sidebar-menu {
    display: flex;
  }

  header .search-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    display: none;
  }

  header .search-container {
    padding: 0 20px;
  }

  header .search-wrapper.search-open {
    display: flex;
    z-index: 10;
  }

  header .close-search-btn {
    display: flex;
  }

  header .more .open-search-btn {
    display: flex;
  }
}

/* Mobile */
@media (max-width: 575px) {
  header .logo img {
    height: 25px;
  }
}
