.list-post {
  width: 100%;
  margin: 0;
}

.list-post .item {
  padding-bottom: 2rem;
  border-radius: 5px;
}

.list-post .item .thumbnail-box {
  width: 100%;
  overflow: hidden;
}

.list-post .item .thumbnail {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  transition: scale 0.2s ease;
}

.list-post .item:hover .thumbnail {
  width: 100%;
  scale: 1.2;
  transition: scale 0.1s ease;
}

.list-post .item .avatar {
  width: 36px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.list-post .item .info {
  flex: 1;
}

.list-post .item .info .title {
  margin-bottom: 0;
  font-size: 1rem;
  line-height: 22px;
  font-weight: bold;
  transition: color 0.2s ease;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.list-post .item:hover .info .title {
  color: var(--color-primary);
  transition: color 0.1s ease;
}

.list-post .item .info span {
  display: block;
  font-size: 14px;
  color: #737373;
}
