aside {
  width: var(--sidebar-width);
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  padding-top: calc(var(--header-height) + 20px);
  z-index: 5;
}

aside .logo-web {
  display: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.079);
}

aside .logo-web a {
  height: 130px;
  display: flex;
  align-items: center;
  padding: 0;
}

aside .logo-web a img {
  height: 30px;
}

aside ul + ul {
  border-top: 1px solid rgba(0, 0, 0, 0.079);
}

aside .list {
  height: 100%;
  margin-right: 0;
  overflow-y: scroll;
}

aside li a {
  display: block;
  padding: 11px 12px;
  border-radius: 5px;
  transition: background-color 0.1s ease;
}

aside li a.active {
  font-weight: bold;
  color: var(--color-primary);
}

aside li a.active,
aside li a:hover {
  background-color: rgba(0, 0, 0, 0.05);
  transition: background-color 0.1s ease;
}

aside li a.home-btn .icon-box {
  font-size: 23px;
}

aside li a span {
  font-size: 14px;
}

/* Tablet */
@media (max-width: 991px) {
  aside {
    width: var(--sidebar-tablet-width);
  }
}

/* Mobile */
@media (max-width: 575px) {
  aside {
    position: fixed;
    left: 0;
    width: var(--sidebar-width);
    padding-top: 0;
    margin-left: calc(0px - var(--sidebar-width));
    background-image: linear-gradient(#fff, #fff1eb);
    z-index: 30;
  }

  aside > * {
    margin: 0 12px;
    padding: 12px 0;
  }

  aside .logo-web {
    display: block;
  }
}
