@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
    --header-height: 70px;
    --sidebar-width: 250px;
    --sidebar-tablet-width: 150px;
    --sidebar-mobile-width: 50px;
}

:root {
    --color-primary: #ff4500;
    --color-primary-hover: #ff6a33;
}

/* Overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 20;
    display: none;
}

/* Icon */
.icon-box {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Sidebar mobile */
@media (max-width: 575px) {
    .wrapper.sidebar-open .overlay {
        display: block;
    }

    .wrapper.sidebar-open aside {
        margin-left: 0;
    }
}
