:root {
  --header-height: 70px;
  --sidebar-width: 20%;
  --sidebar-mobile-width: 250px;
  --content-padding-left: 1.5rem;
}

:root {
  --color-primary: #ff4500;
  --color-primary-600: #cc3700;
  --color-primary-500: #ff581a;
  --color-primary-400: #ff7d4d;
  --color-primary-300: #ff9b76;
  --color-primary-100: #fff1eb;
  --color-secondary: #00baff;
  --color-secondary-600: #0095cc;
  --color-secondary-100: #ebfaff;
  --color-primary-shadow: rgba(255, 69, 0, 0.25);
}

/* Pagination */
.pagination .page-item.active .page-link,
.pagination .page-item:hover .page-link,
.pagination .page-item:not(.active) .page-link:focus {
  background-color: var(--color-primary);
}

.pagination .page-item.disabled .page-link {
  color: var(--bs-pagination-disabled-color);
}

.pagination .page-item .page-link:focus {
  background-color: var(--color-primary-100);
  box-shadow: 0 0 0 0.25rem var(--color-primary-shadow);
}

/* Sidebar mobile */
@media (max-width: 991px) {
  .wrapper.sidebar-open aside {
    margin-left: 0;
    transition: margin-left 0.5s ease;
  }

  .wrapper.sidebar-open .overlay {
    display: block;
  }
}
